name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-11

#    steps:
#    - uses: actions/checkout@v2
#    - name: Force Xcode 13
#      run: sudo xcode-select -switch /Applications/Xcode_13.0.app
#    - name: Build
#      run: xcodebuild -scheme WalletUI -sdk iphoneos
#    - name: Run tests
#      run: xcodebuild -scheme WalletUI test -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=15.0,name=iPhone 12'
